<div class="media-body">
  <div>
    Username:<edit-field field="$ctrl.username" value='$ctrl.user.username'></edit-field>
  </div>
  <div>
    Name:<edit-field field='$ctrl.name' value='$ctrl.user.name'></edit-field>
  </div>
  <div>
    <div>Address:</div>
    <div ng-repeat="(key, value) in $ctrl.user.address">
      {{key[0].toUpperCase()+key.slice(1)}}:{{value}}
    </div>
    <div>Email:{{$ctrl.user.email}}</div>
    <div>Phone:{{$ctrl.user.phone}}</div>
    <div>Website:{{$ctrl.user.website}}</div>
    <div>Company:{{$ctrl.user.company.name}}:
      {{$ctrl.user.company.catchPhrase}}:
      {{$ctrl.user.company.bs}}
    </div>
    <div class="video-list-entry-detail">
      {{$ctrl.post.body}}
    </div>
    <div class="video-list-entry-title">
    </div>
    <div>Other Posts By {{$ctrl.user.username}}</div>
    <div ng-repeat='post in $ctrl.posts'>
      <a class="video-list-entry-title" 
        ui-sref='core.post({ postId: post.id })'>
        {{post.title}}
      </a>
    </div>
  </div>
</div>

