<!-- START SOLUTION -->
<ul class="video-list">
  <video-list-entry
    ng-repeat="video in ctrl.videos"
    data-video="video"
    data-on-click="ctrl.onClick"
  />
</ul>
<!-- ELSE
<ul class="video-list">
  <video-list-entry><h5><em>videoListEntry</em> component goes here</h5></video-list-entry>
  <video-list-entry><h5><em>videoListEntry</em> component goes here</h5></video-list-entry>
  <video-list-entry><h5><em>videoListEntry</em> component goes here</h5></video-list-entry>
  <video-list-entry><h5><em>videoListEntry</em> component goes here</h5></video-list-entry>
  <video-list-entry><h5><em>videoListEntry</em> component goes here</h5></video-list-entry>
</ul>
END SOLUTION -->
