<!-- START SOLUTION -->
<li class="video-list-entry media">
  <div class="media-left">
    <img class="media-object" ng-src={{ctrl.video.snippet.thumbnails.default.url}} />
  </div>
  <div class="media-body">
    <div class="video-list-entry-title" ng-click="ctrl.onClick(ctrl.video)">
      {{ctrl.video.snippet.title}}
    </div>
    <div class="video-list-entry-detail">{{ctrl.video.snippet.description}}</div>
  </div>
</li>
<!-- ELSE
<li class="video-list-entry media">
  <div class="media-left">
    <img class="media-object" src="https://i.ytimg.com/vi/dQw4w9WgXcQ/default.jpg" />
  </div>
  <div class="media-body">
    <div class="video-list-entry-title">Video Title</div>
    <div class="video-list-entry-detail">Video Description</div>
  </div>
</li>
END SOLUTION -->
